
:root {

  /* Colors */
  --color-background: white;
  --color-action: #169BD5;
  --color-border: #000000;
  --color-icon: #797979;
  --color-hover-option: #EFEFEF;
  --color-warning: #F5A623;
  --color-active: #f91f39;

}